header{
	background-color: #F1F1F1;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#mytheme .white.label {
	background-color: white !important;
}

#mytheme .small-image {
	max-width: 25px;
	display: inline-block;
}

#mytheme .small-image img {
	width: 100%;
}

#mytheme .label-desc {
	vertical-align: middle;
	display: inline-block;
	font-size: 16px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.box{
	box-sizing: border-box;
}

.float--left{
	float: left;
}

.float--right{
	float: right;
}

.ui.grid.current-container{
	display: flex;	
	overflow: hidden;
	max-width: 1200px;
	min-height: 300px;
	margin: 0px auto;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-top: 80px;
}

#mytheme .header-style {
	display: block;
}

.ui.card:first-child{
	margin-top: 20px;
}

.ui.card{
	margin: 20px 20px;
}

.ui.card:last-child {
    margin-bottom: 20px !important; 
}

/*Search Modal*/
.ui.raised.container{
	margin: 0 30px 0 30px;
}

.search.ui{
	text-align: center;
}

.button.search-button{
	margin-left: 10px;
}


#mytheme .mobile-items .item {
	flex-direction: row;
}


#mytheme .mobile-items .image {
	width: 100px !important;
    margin-right: 20px;
}

#mytheme .mobile-item .image img {
	width: 100%;
}

#mytheme .mobile-episodes .image {
	width: 20% !important;
	display: inline-block;
	margin-right: 10px;
}

#mytheme .mobile-episodes .image img {
	width: 100%;
}

#mytheme .mobile-episodes > .content {
	width: 75%;
	display: inline-block;
	vertical-align: top;
}

#mytheme .segment-pointer {
	cursor: pointer;
}


#mytheme .episode-progress {
	width: 0%;
	min-width: 0;
}

#mytheme .episode-listing[data-clicked-on=true] {
	opacity: 0.4;
}

/*Sign In Page*/
.sign-in-container{
	margin-top: 80px;
}






