header{
	background-color: #F1F1F1;
}

body{
	
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.box{
	box-sizing: border-box;
}

.float--left{
	float: left;
}

.float--right{
	float: right;
}

.ui.main-logo{
	margin: 40px 0px 20px 20px;
	padding-top: 20px;
	color: black;
}
#mytheme .ui.nav-header{
	margin-top: 15px;
	float: right;
}

.ui.search{
	display: inline;
}

.ui.button{
	padding-right: 20px;
	margin-right: 10px;
}

.ui.nav-link{
	padding-right: 10px;
	text-decoration: none;
	color: black;
}

.ui.search{
	padding-right: 15px;
}

.ui.grid.current-container{
	display: flex;	
	overflow: hidden;
	max-width: 1200px;
	margin: 50px auto;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 100px;
}

#mytheme .header-style {
	display: block;
}

.ui.card:first-child{
	margin-top: 20px;
}

.ui.card{
	margin: 20px 20px;
}

.ui.add-show{
	margin-bottom: 20px;
}

.ui.card:last-child {
    margin-bottom: 20px !important; 
}







